$PuRd-fallback : #d376a8;
$PuRd-0 : #f7f4f9;
$PuRd-1 : #eae3f0;
$PuRd-2 : #dcc9e2;
$PuRd-3 : #d0aad2;
$PuRd-4 : #d08ac2;
$PuRd-5 : #dd63ae;
$PuRd-6 : #e33890;
$PuRd-7 : #d71c6c;
$PuRd-8 : #b80b50;
$PuRd-9 : #8f023a;